.title {
  margin: 1em;
  font-size: 2em;
  text-align: center;
  justify-content: center;
  display: flex;
}

.column {
  min-width: 20em;
}

.submit-button {
  margin: 1em;
  justify-content: center;
}

.check-box {
  justify-content: center;
  display: inline-flex;
}

@media (max-width: 768px) {
}
